#desktop{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#workspace{
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}

#workspace .window-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    box-shadow: 0px 0px 2px white;
}

.window-box .window-topbar{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #191919;
    color: white;
    justify-content: end;
}

.window-topbar .topbar-button{
    height: 100%;
    width: 30px;
    align-content: center;
    text-align: center;
    font-size: 20px;
}

.window-box #window-container{
    width: 100%;
    height: calc(100% - 30px);
}

#workspace-icons{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    grid-template-rows: repeat(auto-fit, 100px);
    gap: 15px;
    padding: 10px;
    width: 100%;
}

#workspace-icons .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: 80px;
}

#workspace-icons .icon-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#taskbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #222222;
}

#taskbar .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 10px;
}