#desktop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#workspace{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    grid-template-rows: repeat(auto-fit, 80px);
    gap: 15px;
    width: 100%;
    height: calc(100% - 50px);
    margin: 10px;
}

#workspace .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
}

#taskbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: black;
}

#taskbar .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 40px;
    width: 40px;
}